@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
ul,li {
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
body{
    font-family: 'DM Sans', sans-serif;
}

/* Header Starts */
.nav_color {
    background-color: #002333;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.9);
    transition-duration: 0.3s;
    font-size: 20px;
    padding-right: 35px;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #00FF84;
}
.header_button{
     
}
.header_button a {
    color: #000;
    padding: 8px 28px;
    background-color: rgba(0,255,132,1);
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    transition-duration: 0.3s;
}
.header_button a:hover {
    opacity: 0.8;
}
/* Header Ends */

/* Banner Starts */

.banner{
 background-image: url(../images/banner.jpeg);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}

.banner_overlay{
  padding: 160px 0 140px 0;
  background-color: rgba(0,0,0,0.55);
}

.banner_content{

}
.banner_heading{

}
.banner_heading h3{
    
    color: #00FF84;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.banner_heading h2 {
    color: #fff;
    font-size: 52px;
    font-weight: 600;
   
    padding-bottom: 20px;
    padding-right: 124px;
    padding-left: 124px;
}
.banner_heading p{
    
    color: #fff;
    font-size: 19px;
    padding: 0 300px;
    font-weight: 500;
    padding-bottom: 40px;
}
.banner_left_button{

}
.banner_left_button p{

    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
}
.banner_left_button .start_button{

}
.banner_left_button .start_button a{

    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #fff;
    padding: 10px 40px;
    border-radius: 7px;
    transition-duration: 0.3s;
}
.banner_left_button .start_button a:hover{

    background-color: #ffffff21;
}
.banner_right_button{

}
.banner_right_button p{

    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
}
.banner_right_button .request_button{

}
.banner_right_button .request_button a{


    color: #000;
    font-size: 20px;
    font-weight: 500;
   
    padding: 13px 40px;
    border-radius: 7px;
    transition-duration: 0.3s;
    background-color: #00FF84;
}
.banner_right_button .request_button a:hover{


    
    opacity: 0.8;
}
/* Banner Ends */

/* Customer Love Starts  */

.customers_love{
    padding: 30px 0 35px 0;
}
.customers_love h3 {
    text-align: center;
    padding-bottom: 30px;
    font-weight: 600;
}
.customers_love img{

}
/* Customer Love Ends */

/* Pre content Starts */
.pre_content {
    background-color: #F5F5F5;
    padding: 50px 0;
}
.pre_content h3{

    font-size: 30px;
    font-weight: 600;
}
.pre_content hr{

    height: 8px;
    color: #3F2BD4;
    width: 12%;
    opacity: 1;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.pre_content p{

    font-size: 22px;
    color: #3F4B51;
    font-weight: 500;
    padding-bottom: 20px;
}
.pre_content_button{

}
.pre_content_button a {
    padding: 10px 10px;
    border: 2px solid #3F2BD4;
    font-size: 18px;
    font-weight: 600;
    color: #3F2BD4;
    border-radius: 5px;
    transition-duration: 0.3s;
}
.pre_content_button a:hover {
    background-color: #3F2BD4;
    color: #fff;
}
/* Pre content Ends */

/* Features Starts */

.features{

}

.feature_image{

}
.feature_image img{
    
    height: 450px;
    object-fit: cover;
}
.feature_content{

    padding: 70px 116px;
}

.feature_content h3{

    font-size: 36px;
}

.feature_content hr{

    height: 7px;
    color: #3F2BD4;
    width: 22%;
    opacity: 1;
    /*! margin: auto; */
    margin-top: 15px;
    margin-bottom: 15px;
}

.feature_content p{

    color: #002333;
    font-size: 20px;
    margin-bottom: 28px;
}
.feature_content .feature_button{

}
.feature_content .feature_button a{

    padding: 5px 25px;
    border: 2px solid #3F2BD4;
    font-size: 17px;
    font-weight: 600;
    color: #3F2BD4;
    border-radius: 5px;
    transition-duration: 0.3s;

}

.feature_content .feature_button a:hover{

    background-color: #3F2BD4;
    color: #fff;

}

/* Features Starts */

/* About Starts */

.about{
 padding-top: 68px;
 padding-bottom: 44px;
}
.about_top{

}
.about_top img{

    padding-bottom: 20px;
}

.about p{
      color: #383f46;
      font-size: 22px;
      padding-bottom: 20px;
}

.about h6{

    font-weight: 300;
    font-size: 16px;
    padding-bottom: 10px;
}

.about_bottom{

}
.about_bottom img{

    border-radius: 50px;
}

/* About Ends */

/* Footer Starts */
footer{

    padding-top: 70px;
    padding-bottom: 20px;
    background-color: #002333;
}
footer h1{

    color: #fff;
    font-size: 41px;
    padding-bottom: 20px;
}
.footer_button {
    padding-bottom: 60px;
}
.footer_button a{
    color: #000;
    padding: 8px 28px;
    background-color: rgba(0,255,132,1);
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    display:inline-block;
    transition-duration: 0.3s;
}
.footer_button a:hover{
   opacity: 0.8;
}
.footer_bottom{

}
.footer_bottom a {
    color: #fff;
    padding: 10px;
    transition-duration: 0.3s;
}
.footer_bottom a:hover {
    text-decoration: underline;
}
footer p{
    color: #fff;
    padding-top: 15px;
}
/* Footer Ends */